---
import Layout from "../layouts/Layout.astro";
import Item from "../components/Item.astro";
---

<Layout title="poke your neighbor">
	<h1>These are Astro components that take in props</h1>

	<Item name="pikachu" />
	<Item name="charmander" />
	<Item name="mew" />

	<a href="/">go home</a>
</Layout>
